---
---
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

@font-face {
  font-family: Comfortaa;
  src: url('{{ site.baseurl }}/fonts/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: Comfortaa;
  font-weight: bold;
  src: url('{{ site.baseurl }}/fonts/Comfortaa-Bold.ttf');
}

@font-face {
  font-family: Comfortaa;
  font-weight: 300;
  src: url('{{ site.baseurl }}/fonts/Comfortaa-Light.ttf');
}

body {
  background-color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa';
}

h1 {
  margin: 10px 0;
  font-size: 60px;
}

p {
  margin: 10px 0;
}

a {
  color: #000;
}

a:hover {
  color: #000;
}

a:visited {
  color: #000;
}

.light {
  font-weight: 300;
}

#address {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#address a {
  font-family: 'Comfortaa';
  display: inline;
  position: relative;
  font-size: 25px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
}

#timer {
  display: block;
  height: 2px;
  width: 0%;
  left: 0;
  border-bottom-style: solid;
  border-bottom-width: 2.5px;
}

.animate-width {
  -webkit-animation: timer {{ site.animation-interval }}ms;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  animation: timer {{ site.animation-interval }}ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@-webkit-keyframes timer {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes timer {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

#maptime {
  position: absolute;
  width: 100%;
  height: 190px;
  top: 50%;
  margin: -95px 0 0 0;
}

#maptime-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(150, 150, 150, 0.3);
  overflow: hidden;
}

#maptime ul {
  float: left;
  left: 50%;
  list-style-type: none;
  position: relative;
}

#maptime ul li {
  display: block;
  float: left;
  list-style: none ;
  position: relative;
  right: 50%;
}

#maptime ul li a {
  margin: 0 0.5em;
}

svg#building,
svg#building-blurred {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

svg#building-blurred {
  background: white;
}

svg#filter {
  position: absolute;
}

path {
  stroke-linejoin: round;
}

.color1 {
  stroke: #ED1C24;
  fill: none;
}

.color2 {
  stroke: #FBAF3F;
  fill: none;
}

.color3 {
  stroke: #FFF100;
  fill: none;
}

.color4 {
  stroke: #38B449;
  fill: none;
}

.color5 {
  stroke: #00ADEF;
  fill: none;
}

.color6 {
  stroke: #652C90;
  fill: white;
}